@media (min-width: 768px) {
    div.imagetiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6{
        padding: 0px;
    }

h1 {
    text-decoration: underline;
}

.content {
    border: 1px solid #444444;
    color: #222222;
}

.container {
    margin-top: 7%;
}

.container .row .title {
    white-space: nowrap; 
}

.container .row .title {
    white-space: nowrap; 
}

p{
    font-size: 1vw;
}


@media (max-width: 1024px) {
    p{
        font-size: 2.4vw;
    }
}

@media (max-width: 768px) {
    p{
        font-size: 4vw;
    }
}